<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">

    <title>{{title}}</title>

</head>
<body>

<h1 class="center">Beer Fridge Controller</h1>

<p class="center">Press one of the buttons to turn on/off the fridge.</p>

<div class="flex-parent center">
    <form method="post" action="/">
        <input type="submit" name="btn" value={{button_on}} class="button button_on">
        <input type="submit" name="btn" value={{button_off}} class="button button_off">
    </form>
</div>

<p class="center"><strong>OBS:</strong> This is still in trial.</p>

</body>
</html>